# Compiled class files
*.class

# Log files
*.log

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# VS Code specific files
.vscode/